
@tailwind base;
@tailwind components;
@tailwind utilities;

.menu .active{
       color: brown;
}

.signbg{
       background-image: url('../public/img2.webp');
       background-repeat:   no-repeat;
       -webkit-background-size: cover; 
       -moz-background-size: cover;    
       -o-background-size: cover;      
       background-size: cover;        
}